<h1><%= @name %></h1>

<ul>
<% @band.each do |member| %>
  <li><%= member %></li>
<% end %>
</ul>

<form action="/<%= @name %>" method="post">
  <input name= "member" type="text">
  <input type="submit">
</form>